@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

*{
  letter-spacing: .2px;
}

body {
  margin: 0;
  font-family: "Montserrat", "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  padding:10px;
  margin-top: 15px;
}

.hv-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-center{
  text-align: center;
}